#navigation{
  text-align:center;
}
#navigation ul{
  height:10%;
}
#homepage{
  margin-left:10%;
}
li{
  width:7%;
}
#exit{
  width:7%;
  float:right;
  margin-right:10%;
}
#user{
  color:#FFF;
  width:20%;
  float:right;
}
#enroll{
  margin-top:2%;
  width:86%;
}